@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo {
  color      : black !important;
  font-family: 'Grand Hotel';
  font-style : bold, italic;
  margin-left: 10px;
}

.log-greeting {
  color     : blueviolet !important;
  font-style: bold;
  margin    : 10%;
  font-size : 2rem;
}