a{
  color: black !important;
}

.brand-logo{
  color: black !important;
  font-family: cursive;
  font-style: bold, italic;
  margin-left: 10px;
}

.log-greeting{
  color: blueviolet !important;
  font-style: bold;
  margin: 10%;
  font-size: 2rem;
}